body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner {
    max-width: 80%;
    height: auto;
    border: 2px solid #000;
}
